extends layout

block content
  div#main.container.text-responsive
    img(src="/images/qr.svg" height="100em" width="100em" style="display: inline")
    h1(style="display: inline") #{title} 
    hr
    <a href="/boxes">all boxes</a> -> <span class="text-lg">box #{code}</span>
    form(action="/")
      input(type="hidden" value=code name="code")
      textarea(style="width: 100%; height: 20em" name="contents") #{output}
      br
      button.btn.btn-primary(type="submit" style="font-size: 1em !important;") Save
