doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    <link href="/bootstrap.css" rel="stylesheet">

  body
    block content

    <script src="/bootstrap.bundle.js"></script>
