extends layout

block content
   
  <p></p>
  <div class="d-flex flex-column bd-highlight mb-3" style="flex-wrap: wrap">
  <div class="p-2 bd-highlight flex" style="flex: 1 1 160px">Flex item 1</div>
  <div class="p-2 bd-highlight flex" style="flex: 1 1 160px">Flex item 2</div>
  <div class="p-2 bd-highlight flex" style="flex: 1 1 160px">Flex item 3</div>
  </div>
  
  